@import "tailwindcss";
@config "../../tailwind.config.ts";

@font-face {
  font-family: "NB International Pro";
  src: url("/assets/fonts/nb_international_pro_regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NB International Pro";
  src: url("/assets/fonts/NBInternationalBoldWebfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NB International Pro";
  src: url("/assets/fonts/NBInternationalLightWebfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NB International Mono";
  src: url("/assets/fonts/NBInternationalMonoWebfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "NB International Pro", system-ui, sans-serif;
  color: #151f26;
  -webkit-font-smoothing: antialiased;
}
